<section id="about" class="about">
  <h1 class="title">About Me</h1>
  <p>I'm a skillful professional with good interpersonal and relationship skills.
     I'm dedicated, resourceful and sociable.
    <!-- I'm reliable, dedicated, resourceful and sociable. -->
    I consider myself being an adaptable learner and insightful in problem solving situations.</p>
  <hr>
  <ul class="grid">
    <li id="about_description">
      <p>I've a Ms. Degree in Computer Science and Engineering issued by
        <a href="https://www.ubi.pt" title="ubi.pt" target="_blank" rel="noopener" rel="noreferrer">University of Beira Interior</a>.</p>
      <p>My academic background has a strong focus on <strong>mathematics</strong> and <strong>programming</strong>.
        I've experience handling several aspects of software development, from:
        architecture, development, security, integration, testing and deployment.
      </p>
      <p>
        My professional career history includes companies such as:
        <a href="https://www.mahle.com" title="mahle.com" target="_blank" rel="noopener" rel="noreferrer">Mahle</a>,
        <a href="https://www.multicert.com" title="multicert.com" target="_blank" rel="noopener" rel="noreferrer">Multicert</a>,
        <a href="https://www.deptagency.com" title="deptagency.com" target="_blank" rel="noopener" rel="noreferrer">Tricode (now Dept)</a>,
        <a href="https://www.libertyglobal.com" title="libertyglobal.com" target="_blank" rel="noopener" rel="noreferrer">Liberty Global</a>,
        <a href="https://www.ns.nl" title="ns.nl" target="_blank" rel="noopener" rel="noreferrer">NS</a>,
        <a href="https://www.kpn.com" title="kpn.com" target="_blank" rel="noopener" rel="noreferrer">KPN</a>,
        <a href="https://www.vodafoneziggo.nl/en/" title="vodafoneziggo.nl" target="_blank" rel="noopener" rel="noreferrer">Vodafone-Ziggo</a>,
        <a href="https://www.europeana.eu/en" title="europeana.eu" target="_blank" rel="noopener" rel="noreferrer">Europeana</a>,
        <a href="https://www.apside.com/en/" title="apside.com" target="_blank" rel="noopener" rel="noreferrer">Apside</a>
      </p>
    </li>
    <li id="about_icons">
      <div class="user-data">
        <div class="user-data-content">
          <ul>
            <li>
              <div class="user-data-icon">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="user-data-text">
                Adolfo Peixinho
              </div>
            </li>
            <li>
              <div class="user-data-icon">
                <img height="33px" width="49px" src="<%= require('../images/pt-flag-bw.png') %>" title="Portugal Flag">
              </div>
              <div class="user-data-text">
                Portugal
              </div>
            </li>
            <!-- <li>
              <div class="user-data-icon">
                <i class="fas fa-calendar"></i>
              </div>
              <div id="myAge" class="user-data-text">
              </div>
            </li> -->
            <li>
              <div class="user-data-icon">
                <i class="fa fa-cog"></i>
              </div>
              <div class="user-data-text">
                10+ years of experience
              </div>
            </li>
            <!-- <li>
              <div class="user-data-icon">
                <I class="fas fa-suitcase"></i>
              </div>
              <div class="user-data-text">
                Currently I'm employed by <a href="https://www.kpn.com" title="kpn.com" target="_blank">KPN</a>
              </div>
            </li> -->
          </ul>

        </div>

        <div class="user-data-content no-border">
          <ul class="continuate">
            <li>
              <I class="fa fa-circle"></i>
            </li>
            <li>
              <I class="fa fa-circle"></i>
            </li>
            <li>
              <I class="fa fa-circle"></i>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</section>
