<section id="contact" class="contact">
  <h3 class="title">Contact me</h3>
  <!-- <p>I'll try and respond as soon as possible</p> -->
  <hr>

  <div id="contactButtons">
    <a id="emailContact" target="_top" class="btn" href="mailto:ykykkuuayyyduuouuulfkkoyyy.uuupkkyykkeuuuuixiuyyyyukknuhyouyyy@uuuuyygyuyykkkmukkailyyykk.uyycykkokuymyyyyyyyy">
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      <h4>Send Email</h4>
    </a>
    <a id="resumeDownload" href="apeixinho-CV.pdf" target="_blank" class="btn">
      <i class="fa fa-download fa-2x" aria-hidden="true"></i>
      <h4>Download my CV</h4>
    </a>
  </div>

</section>
