<footer>
  <ul>
    <li><a href="https://www.linkedin.com/in/apeixinho" target="_blank" rel="noopener" rel="noreferrer" title="linkedin">
        <i class="fas fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/apeixinho" target="_blank" rel="noopener" rel="noreferrer" title="github">
        <i class="fas fa-github-alt" aria-hidden="true"></i></a></li>
    <li><a href="https://gitlab.com/apeixinho" target="_blank" rel="noopener" rel="noreferrer" title="gitlab">
        <i class="fas fa-gitlab" aria-hidden="true"></i></a></li>
    <li><a href="https://api.thegreenwebfoundation.org/greencheckimage/adolfo-peixinho.eu.org" target="_blank" rel="noopener" rel="noreferrer"
        title="the green web foundation">
        <img height="38px" width="38px" src="<%= require('../images/green-web.png') %>"
          title="green host checked by thegreenwebfoundation.org" />
      </a></li>
  </ul>
  <p><time id="deployDate"></time></p>
  <!-- <i class="fa fa-creative-commons" aria-hidden="true"></i> -->
</footer>
