<header>
  <nav>
    <input type="checkbox" id="menu-nav" class="hidden" />
    <label for="menu-nav" class="nav-open">
      <i></i>
      <i></i>
      <i></i>
    </label>
    <div class="nav-container">
      <ul>
        <li>
          <a href="#hero">
            <i class="fas fa-home" aria-hidden="true"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="#about">
            <i class="fas fa-user-circle" aria-hidden="true"></i>
            <span>About Me</span>
          </a>
        </li>
        <!--
        <li>
          <a href="#skills">
            <i class="fas fa-code" aria-hidden="true"></i>
            <span>Skills</span>
          </a>
        </li>
        -->
        <!-- <li>
          <a href="#reviews">
            <i class="fas fa-cloud-download"></i>
            <i class="fas fa-archive" aria-hidden="true"></i>
            <span>Reviews</span>
          </a>
        </li> -->
        <li>
          <a href="#contact">
            <i class="fas fa-phone-square" aria-hidden="true"></i>
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
