<section id="hero" class="hero">
  <div class="background-image"></div>
  <img id="my_face" class="round animated bounceIn slower" src="<%= require('../images/fronha.png') %>" title="My face photo">
  <h2>
    <!-- <span class="txt-rotate"
      data-period="766"
      data-rotate='[ "Hi, and welcome to my homepage.",
      "I&#39;m a passionate full-stack developer." ]'></span> -->
    <span id="autoType"></span>
  </h2>

  <div class="mouse">
    <span></span>
  </div>

</section>
