<section id="skills" class="skills">
  <h3 class="title">Skills</h3>
  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices.
    Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p> -->
  <hr>

  <ul id="skill_grid" class="grid">
    <li>
      <i class="devicon-html5-plain-wordmark colored" title="html5"></i>
      <i class="devicon-css3-plain-wordmark colored" title="css3"></i>
      <i class="devicon-javascript-plain colored" title="javascript"></i>
      <i class="devicon-jquery-plain-wordmark colored" title="jquery"></i>
      <h4></h4>
      <p>In most of my web projects I work with HTML5, CSS3, Javascript, JQuery for a smooth UX.</p>
    </li>
    <li>
      <i class="devicon-webpack-plain-wordmark colored" title="webpack"></i>
      <i class="devicon-sass-original colored" title="sass"></i>
      <i class="devicon-angularjs-plain colored"" title=" sass"></i>
      <i class="devicon-nodejs-plain-wordmark colored" title="nodejs"></i>
      <h4></h4>
      <p>Whether with Angular or NodeJS, Webpack is always included for bundling and optimizing code.</p>
    </li>
    <li>
      <i class="devicon-nginx-original colored" title="nginx"></i>
      <i class="devicon-docker-plain-wordmark colored" title="docker"></i>
      <img height="50px" width="51px" src="<%= require('../images/k8s.png') %>" title="kubernetes" />
      <i class="devicon-linux-plain" title="linux"></i>
      <h4></h4>
      <p>I've experience with containerization and orchestration technologies and I feel quite confortable in a Linux
        enviroment.</p>
    </li>
    <li>
      <i class="devicon-c-line colored" title="c"></i>
      <i class="devicon-java-plain-wordmark colored" title="java"></i>
      <i class="devicon-python-plain-wordmark colored" title="python"></i>
      <img height="50px" width="50px" src="<%= require('../images/spring-boot.png') %>" title="spring boot" />
      <h4></h4>
      <p>I've strong foundation in programming languages like C and Java.
        Further, I've been responsible for building several backend environments.</p>
    </li>
    <li>
      <i class="devicon-mysql-plain-wordmark colored" title="mysql"></i>
      <i class="devicon-postgresql-plain-wordmark colored" title="postgres"></i>
      <i class="devicon-mongodb-plain-wordmark colored" title="mongodb"></i>
      <i class="devicon-redis-plain-wordmark colored" title="redis"></i>
      <h4></h4>
      <p>Regarding the persistence layer in software development I've worked with several SQL and NoSQL technologies.</p>
    </li>
    <li>
      <i class="devicon-github-plain-wordmark colored" title="github"></i>
      <i class="devicon-gitlab-plain-wordmark colored" title="gitlab"></i>
      <i class="devicon-bitbucket-plain-wordmark colored" title="bitbucket"></i>
      <i class="devicon-git-plain-wordmark colored" title="git"></i>
      <h4></h4>
      <p>I'm familiar with several software versioning technologies, their paradigms and principles.</p>
    </li>
  </ul>

</section>
